:root{
    --bars-color: rgb(233, 195, 114);
    --background-color:  rgb(94, 182, 156);
    --players-background: rgb(221, 41, 152);
    --section-color: rgba(216, 199, 42, 0.815);
}

body {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
  }

  .main-container{
    display: flex;
    font-size: 2em;
    flex-direction: row;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
  }

  .center-section{
    background-color: var( --background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3%;
    width: 30%;
  }

  .game-name{
    color: cornsilk;
    font-size: 2em;
  }

  .player1-name, .player2-name, .p1-win-count, .p2-win-count{
    margin-bottom: 4%;
  }

  .player1-token, .player2-token{
    font-size: 2em;
}

  .container{
    align-self: center;
    padding: 3%;
    margin: 5%;
}

.game-board{
    background: var(--bars-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-template-rows: repeat(3, 1fr );
    grid-gap: 6px;
    justify-self: center;
    justify-items: center;
}

.cell {
    cursor: pointer;
    font-size: 2em;
    background-color: var( --background-color);
    height: 1.5em;
    width: 1.5em;
}

.left-section,  .rigth-section{
    background-color: var( --section-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 6% 1% 0% 1%;
    width: 35%;
}

  .p1-games, .p2-games{
    display: grid;
    background-color: var( --players-background);
    height: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: scroll;
    margin: 2% 1% 2% 1%;
  }

  .main-header{
    padding: 6% 1% 8% 1%;
}

 .player-container{
    align-self: center;
    margin: 7%;
    justify-self: center;
}

.mini-game-board{
    align-content: center;
    background: var( --bars-color);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1em);
    grid-template-rows: repeat(3, 1em);
    width: 100%;
    
}
.min-cell {
    align-self: center;
    background-color: var( --background-color);
    justify-self: center;
    font-size: 20px;
    height: 1.3em;
    width: 1.3em; 
}

@media only screen and (min-width: 1200px){
    .player1-token, .player2-token{
        font-size: 2em;
    }

    .player1-name, .player2-name, .p1-win-count, .p2-win-count {
        font-size: 1.5em;
        margin-bottom: 4%;
    }

    .p1-games, .p2-games {
        grid-template-columns: repeat(3, 1fr); 
        padding-top: 3%;  
    }

    .mini-game-board {
        grid-template-columns: repeat(3, 1.3em);
        grid-template-rows: repeat(3, 1.3em);
        height: 4em;
        justify-content: center;
        width: 4em;
    }

    .min-cell{
        font-size: 27px;
        height: 1.4em;
        width: 1.4em;
    }

}

@media only screen and (min-width: 1500px){

    .player1-name, .player2-name, .p1-win-count, .p2-win-count {
        font-size: 2em;
    }

    .p1-games, .p2-games{
        align-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
        height: 65vh;
        padding-top: 13%;
    }

    .mini-gameboard{
        grid-template-columns: repeat(3, 40px);
        grid-template-rows: repeat(3, 40px);
        grid-gap: 1px;
        height: 5em;
        width: 5em;
    }

    .cell {
        background-color: var( --background-color);
        cursor: pointer;
        font-size: 3em;
        height: 130px;
        width: 130px;
    }

    .player-container {
        margin: 7%;
    }

    .mini-game-board {
        grid-template-columns: repeat(3, 65px);
        grid-template-rows: repeat(3, 65px);
        height: 6em;
        width: 6em;
    }

    .min-cell {
        align-self: center;
        font-size: 1.5em;
        background-color: var( --background-color);
        height: 1.2em;
        justify-self: center;
        width: 1.2em;
        margin-top: 3px;
    }

}

@media only screen and (max-width: 1000px){
    .game-board{
        grid-template-columns: repeat(3, 2em);
        grid-template-rows: repeat(3, 2em );
        grid-gap: 3px;
    }

    .cell {
        background-color: var( --background-color);
        font-size: 64px;
        height: 1em;
        width: 1em;
    }

    .p1-games, .p2-games {
        grid-template-columns: repeat(2, 1fr );
    }
}

@media only screen and (max-width: 700px){

    .game-board{
        background: var(--bars-color);
        display: grid;
        grid-template-columns: repeat(3, 1fr );
        grid-template-rows: repeat(3, 1fr );
        grid-gap: 6px;
        justify-self: center;
        justify-items: center;
    }

    .cell {
        font-size: 1em;
        height: 64px;
        width: 64px;
    }

    .p1-games, .p2-games {
        background-color: var( --players-background);
        height: 75%;
        grid-template-columns: repeat(1, 1fr );
        padding: 6%;
        width: 80%;
    }

    .player1-name,
    .player2-name, 
    .p1-win-count, 
    .p2-win-count{
        font-size: 25px;
    }

    .center-section {
        width: 36%;
    }
}

@media only screen and (max-width: 532px){
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 45%, 55%;
        text-align: center;
        vertical-align: middle;
    }

    .left-section, .rigth-section{
        align-items: center;
        height: 120%;
        justify-content: end;
        position: relative;
        width: 100%;
    }

    .center-section{
        grid-area: 1/ span 2;
        width: 95%;
    }

    .p1-games, .p2-games {
        padding: 3%;
    }
}